<main class="main home-page skeleton-body">
    <div class="mb-2"></div>

    <div class="intro-slider-container bg-white">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 d-none d-xl-block">
                    <nav class="side-nav">
                        <div class="sidenav-title">Browse Categories</div>
                        <ul class="menu-vertical sf-arrows">
                            <li>
                                <a routerLink="/shop/sidebar/list" class="sf-with-ul">Playstation</a>

                                <div class="megamenu megamenu-sm">
                                    <div class="row no-gutters">
                                        <div class="col-md-6">
                                            <div class="menu-col">
                                                <div class="menu-title">Games Software</div>
                                                <ul>
                                                    <li><a routerLink="/shop/sidebar/list">Action</a></li>
                                                    <li><a routerLink="/shop/sidebar/list">Adventure</a></li>
                                                    <li><a routerLink="/shop/sidebar/list">Sports</a></li>
                                                    <li><a routerLink="/shop/sidebar/list">Strategy</a></li>
                                                    <li><a routerLink="/shop/sidebar/list">Role-Playing Game</a></li>
                                                    <li><a routerLink="/shop/sidebar/list">Action-Adventure</a></li>
                                                    <li><a routerLink="/shop/sidebar/list">Stealth</a></li>
                                                    <li><a routerLink="/shop/sidebar/list">Shooter</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="banner banner-overlay">
                                                <a routerLink="/shop/sidebar/list">
                                                    <img src="assets/images/home/menu/banner-2.jpg" alt="Banner">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="megamenu-container">
                                <a routerLink="/shop/sidebar/3cols" class="sf-with-ul">XBOX</a>

                                <div class="megamenu">
                                    <div class="row no-gutters">
                                        <div class="col-md-8">
                                            <div class="menu-col">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="menu-title">Games Software</div>
                                                        <ul>
                                                            <li><a routerLink="/shop/sidebar/3cols">Action</a></li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Adventure</a></li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Music</a></li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Racing</a></li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Sports</a></li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Strategy</a></li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Role-Playing
                                                                    Game</a></li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Action-Adventure</a>
                                                            </li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Stealth</a></li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Shooter</a></li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Horror</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="menu-title">Game Console & Accessories</div>
                                                        <ul>
                                                            <li><a routerLink="/shop/sidebar/3cols">Console</a></li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Headsets</a></li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Collectibles</a>
                                                            </li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Gaming Chairs</a>
                                                            </li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Controller</a></li>
                                                            <li><a routerLink="/shop/sidebar/3cols">Digital</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="banner banner-overlay">
                                                <a routerLink="/shop/sidebar/3cols" class="banner banner-menu">
                                                    <img src="assets/images/home/menu/banner-1.jpg" alt="Banner">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a routerLink="/shop/sidebar/list">Nindendo</a></li>
                            <li><a routerLink="/shop/sidebar/list">PC Gaming</a></li>
                            <li><a routerLink="/shop/sidebar/list">Phones & Tablets</a></li>
                            <li><a routerLink="/shop/sidebar/list">Pre-owned</a></li>
                            <li><a routerLink="/shop/sidebar/list">Deals</a></li>
                            <li><a routerLink="/shop/sidebar/list">Coming Soon</a></li>
                            <li><a routerLink="/shop/sidebar/list">Accessories</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-8 col-xl-6">
                    <div class="banner banner-overlay banner-lg content-left" style="background-color: #b3b1af;">
                        <a href="javascript:;">
                            <molla-image src="assets/images/home/banners/banner-1.jpg" alt="Banner" width="576"
                                height="414"></molla-image>
                        </a>
                        <div class="banner-content">
                            <h4 class="banner-subtitle">Pre-order now</h4>
                            <h3 class="banner-title">Borderlands 3</h3>
                            <a routerLink="/shop/sidebar/3cols" class="banner-link">Pre-Order Now<i
                                    class="icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="banner banner-overlay banner-sm banner-rect content-right"
                        style="background-color: #a81012;">
                        <a href="javascript:;">
                            <molla-image src="assets/images/home/banners/banner-2.jpg" width="277" height="260"
                                alt="Banner"></molla-image>
                        </a>
                        <div class="banner-content text-right">
                            <h4 class="banner-subtitle">Weekend Offer</h4>
                            <img class="banner-title-img" src="assets/images/home/banners/banner-2-title.png"
                                alt="Banner-2">
                            <h4 class="banner-price">Save<span class="price">$19,99</span></h4>
                            <a routerLink="/shop/sidebar/3cols" class="banner-link">Buy Now<i
                                    class="icon-long-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="banner banner-overlay d-none d-lg-block banner-sm content-right align-center"
                        style="background-color: #ebebeb;">
                        <a href="javascript:;">
                            <molla-image src="assets/images/home/banners/banner-3.jpg" width="277" height="134"
                                alt="Banner"></molla-image>
                        </a>
                        <div class="banner-content text-right">
                            <img class="banner-title-img" src="assets/images/home/banners/banner-3-title.png"
                                alt="Banner-3" style="margin-bottom: 1.3rem; margin-top: -.8rem;">
                            <a routerLink="/shop/sidebar/3cols" class="banner-link">Buy Now<i
                                    class="icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="banner banner-overlay banner-sm banner-rect content-left"
                        style="background-color: #a5a4a2;">
                        <a href="javascript:;">
                            <molla-image src="assets/images/home/banners/banner-4.jpg" width="277" height="260"
                                alt="Banner"></molla-image>
                        </a>
                        <div class="banner-content">
                            <h4 class="banner-subtitle">Weekend Sale</h4>
                            <img class="banner-title-img" src="assets/images/home/banners/banner-4-title.png"
                                alt="Banner-4">
                            <h4 class="banner-price"><span class="off">25% off</span></h4>
                            <a routerLink="/shop/sidebar/3cols" class="banner-link">Buy Now<i
                                    class="icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="banner banner-overlay banner-lg content-right" style="background-color: #353b47;">
                        <a href="javascript:;">
                            <molla-image src="assets/images/home/banners/banner-5.jpg" width="873" height="260"
                                alt="Banner"></molla-image>
                        </a>
                        <div class="banner-content text-right">
                            <h4 class="banner-subtitle">Amazing Value</h4>
                            <img class="banner-title-img pb-1" src="assets/images/home/banners/banner-5-title.png"
                                alt="Banner-5">
                            <a routerLink="/shop/sidebar/3cols" class="banner-link">Pre-Order Now<i
                                    class="icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="icon-boxes-container icon-boxes-separator bg-transparent" contentAnim aniName="fadeInUpShorter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-rocket"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Free Shipping</h3>
                            <p>Orders $50 or more</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-rotate-left"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Free Returns</h3>
                            <p>Within 30 days</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-info-circle"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Get 20% Off 1 Item</h3>
                            <p>When you sign up</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon">
                            <i class="icon-life-ring"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">We Support</h3>
                            <p>24/7 amazing services</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <molla-special-collection [products]="products" [loaded]="loaded"></molla-special-collection>

    <div class="container" contentAnim aniName="fadeInUpShorter">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="banner banner-overlay banner-sm banner-ad content-right align-center"
                    style="background-color:#b30101;">
                    <figure class="mb-0">
                        <molla-image src="assets/images/home/banners/banner-6.jpg" width="376" height="260"
                            alt="Banner"></molla-image>
                    </figure>
                    <div class="banner-content">
                        <h4 class="banner-subtitle">Weekend Offer</h4>
                        <img class="banner-title-img" src="assets/images/home/banners/banner-6-title.png"
                            alt="Banner-6">
                        <h4 class="banner-price"><span class="price">Save $19.99</span></h4>
                        <a routerLink="/shop/sidebar/list" class="banner-link">Buy Now<i
                                class="icon-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="banner banner-overlay banner-sm banner-ad content-left align-center"
                    style="background-color:#4f5052;">
                    <figure class="mb-0">
                        <molla-image src="assets/images/home/banners/banner-7.jpg" width="376" height="260"
                            alt="Banner"></molla-image>
                    </figure>
                    <div class="banner-content">
                        <h4 class="banner-subtitle">Amazing Deal on an</h4>
                        <img class="banner-title-img" src="assets/images/home/banners/banner-7-title.png"
                            alt="Banner-7">
                        <h4 class="banner-txt">Console</h4>
                        <h4 class="banner-price color-black mt-1 mt-md-3">Save $50</h4>
                        <a routerLink="/shop/sidebar/list" class="banner-link">Buy Now<i
                                class="icon-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="banner banner-overlay banner-sm banner-ad content-left align-center"
                    style="background-color:#6e8993;">
                    <figure class="mb-0">
                        <molla-image src="assets/images/home/banners/banner-8.jpg" width="376" height="260"
                            alt="Banner"></molla-image>
                    </figure>
                    <div class="banner-content">
                        <h4 class="banner-price text-white mb-1">Save $29.00</h4>
                        <img class="banner-title-img mb-2" src="assets/images/home/banners/banner-8-title.png"
                            alt="Banner-8">
                        <a routerLink="/shop/sidebar/list" class="banner-link">Buy Now<i
                                class="icon-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <hr class="mt-0 mb-4">
    </div>

    <molla-new-collection [products]="products" [loaded]="loaded"></molla-new-collection>

    <div class="mb-3"></div>

    <div class="container" contentAnim aniName="fadeInUpShorter">
        <div class="cta cta-horizontal cta-horizontal-box bg-image mb-4"
            style="background-image: 'url(assets/images/home/bg-2.jpg)'">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <h3 class="cta-title text-primary">Join Our Newsletter</h3>
                    <p class="cta-desc text-light">Subcribe to get information about products and coupons</p>
                </div>

                <div class="col-lg-7 d-flex justify-content-lg-end">
                    <form action="#">
                        <div class="input-group">
                            <input type="email" class="form-control form-control-white"
                                placeholder="Enter your Email Address" aria-label="Email Adress" required />
                            <div class="input-group-append">
                                <button class="btn btn-primary-white btn-rounded" type="submit"><span>Subscribe</span><i
                                        class="icon-long-arrow-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <molla-recommend-collection [products]="products | catFilter: [ 'console', 'accessories' ]" [loaded]="loaded">
    </molla-recommend-collection>

    <molla-blog-collection [posts]="posts" [loaded]="loaded"></molla-blog-collection>
</main>